<mat-toolbar color="primary">
  <mat-icon>token</mat-icon>
  <span>Pokedex</span>
  <a mat-button routerLink="/blog">Blog</a>
  <a mat-button routerLink="/pokemons">Pokemons</a>
  <span style="flex: 1 auto"></span>

  <ng-container *ngIf="!authService.isUserLogged">
    <a mat-button routerLink="/register">Registrazione</a>
    <a mat-button routerLink="/login">Entra</a>
  </ng-container>

  <ng-container *ngIf="authService.isUserLogged">
    <button mat-button (click)="logout()">
      Benvenuto {{ authService.getLoggedUser()!.user.name }} (Esci)
    </button>
  </ng-container>
</mat-toolbar>
